%p#notice= notice
%p
  %strong Body:
  = @comment.body
%p
  %strong Published:
  = @comment.published
%p
  %strong Dependency:
  = @comment.dependency.name
= link_to "Edit", edit_comment_path(@comment)
|
= link_to "Back", comments_path
