%p#notice= notice
%h1 Dependencies
%table
  %thead
    %tr
      %th Name
      %th{colspan: 3}
  %tbody
    - @dependencies.each do |dependency|
      %tr
        %td= dependency.name
        %td= link_to "Show", dependency
        %td= link_to "Edit", edit_dependency_path(dependency)
        %td= link_to "Destroy", dependency, method: :delete, data: { confirm: "Are you sure?" }
%br
= link_to "New Dependency", new_dependency_path
